@import "vendor/normalize";

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html,
button,
input,
select,
textarea {
	color: $body-font-color;
	font-family: $body-font-family;
}

html {
	font-size: $base-font-size;
	line-height: $base-line-height;
}

::-moz-selection {
	background: $selection-bg;
	text-shadow: none;
}

::selection {
	background: $selection-bg;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

a {
	color: $link-color;
	//&:hover {
		//color: $link-color-hover;
	//}
}