-# if
- if data.page.slug == "index"

-# class active
%a{:href => "index.html", :class => (data.page.slug == "index" ? "active" : "")} Home

-# image tag
= image_tag 'name.jpg', :alt => ''

-# for 10 times
- 10.times do
	%li

-# for each 1 - 6 width i string (1.)
- (1..6).each do |i|
	%li 
		= i.to_s+'.'

-# switch case
- case data.page.slug
	- when "index"
		.index
	- when "subpage"
		.subpage



/  require js file 
//= require 'libs/jquery.name'