!!!5
%html.no-js{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    /[if IE] <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    %title= page_title
    %meta{ :content => page_description, :name => "description" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %link{ :href => "static/css/main.css", :rel => "stylesheet" }
    %script{ :src => "static/js/vendor/modernizr.js" }
  %body
    = partial "layouts/header"
    \
    =yield
    \
    = partial "layouts/footer"
    \
    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" }
    %script window.jQuery || document.write('<script src="static/js/vendor/jquery-1.10.2.min.js"><\/script>')
    %script{ :src => "static/js/main.js" }